$font-family-sans-serif: "Poppins", sans-serif;

$input-btn-padding-x: 1.5rem;
$input-btn-font-size: 0.875rem;
$body-bg: #fafafa;
$body-color: #333333;
$card-border-color: #eeeeee;
$primary: #a8996f;

$container-max-widths: (
  sm: 540px,
);

@import "~bootstrap/scss/bootstrap";
